body {
    margin: 0;
    /* overflow: hidden; */
}

body .active-modifier-layer{
    /* display: block; */
    opacity: 1;
    pointer-events: all;
}

label {
    font-size: 13px;
}

.modifier-layer{
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
}

#contextual-color-overlay{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    pointer-events: none;
    height: 100%;
    width: 100vw;
    box-shadow: inset 0 0 0px 10px rgb(7, 135, 88);
}

#global-interface{
    display: block;
    /* position: absolute; */
    z-index: 500;

    transition: opacity 0.5s;
}

.global-interface-hidden{
    opacity: 0;
}

.global-interface-visible{
    opacity: 1;
}

.dummies{
    display: block;
    position: absolute;
    z-index: 1;
    top: 2vh;
    left: 600px;
    background-color: white;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
    height: 96vh;
    width: 460px;
}

#signal-button-wrapper {
    display: flex;
    flex-direction: row;
}

#visible-overlay-button{
    color: black;
    min-width: 70px;
}

#page-informations {
    margin-top: 10px;
}

#page-informations > p {
    margin: 3px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: solid black .5px;
}

.layer-button {
    width: 20px;
    color: white;
}

.signal-button {
    cursor: pointer;
    line-height: 20px;
    border: solid rgb(150, 150, 150) 1px;
    background-color: rgb(196, 196, 196);
    height: 20px;
    font-size: 14px;
    text-align: center;

    transition: 0.25s;
}

.signal-button:not(:first-child){
    margin-left: 4px;
}

.layer-button:hover{
    background-color: rgb(240, 240, 240);
    color: black;
}

.active-layer-signal {
    border: solid rgb(7, 135, 88) 1px;
    background-color:rgb(21, 194, 24);
    color: white;
    font-weight: 600;
}

#sketch2print-overlay{
    border: rgb(132, 132, 132) 1px solid;
    max-width: 122px;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 12px;
    padding: 4px;
}

#sketch2print-overlay:hover{
    opacity: 1;
}


.box-inputs-wrapper {
    display: flex;
    position: absolute;
    z-index: 45;
    flex-direction: column;
    max-width: 140px;
    background-color: rgb(53, 53, 53);
    color: white;
    /* font-size: 13px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    /* min-height: 220px; */
    left: 25px;
    top: 275px;
}

.item_interface {
    margin: 4px 6px;
    padding: 3px 6px;
    display: flex;
    justify-items: left;
    flex-wrap: wrap;
    /* transition: background-color .5s; */
}

#name-calque-focus{
    margin: 8px 0px;
    padding: 4px;
    border: dotted white 2px;
    border-radius: 10px;
}

.handle {
    cursor: grab;
    border-top: double 6px white;
    height: 0px;
    box-sizing: content-box;
    color: white;
    padding: 0;
    /* display: flex; */
    align-items: center;
    /* justify-items:end; */
    line-height: 7px;
    font-size: 10px;
    text-align: center;
}

.calqueElem {
    cursor: pointer;
    line-height: auto;
}

.box-style {
    position: absolute;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 5px;
    padding: 6px;

}

#calque-css-style{
    display: block;
    z-index: 50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.7);
    max-width: 187px;
    min-height: 400px;
    
    top: 275px;
    left: 215px;
}

#head-titre-style-wrapper{
    color: white;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 2px;
    border-top: solid white 1px;
}

.style-btn{
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    border: rgb(145, 145, 145) solid 2px;
    color: white;
    padding: 5px;
    border-radius: 5px;

    transition: background-color .2s, color .2s;
    margin: 3px 0px;
    width: 100%;
    text-align: center;
}

input[type="radio" i] {
    margin: 0 5px 0 0;
}

.input-sketch-container{
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 5px;
    padding: 8px;
    border: white 1px solid;
    border-radius: 5px;
    color: white;
    align-items: center;
    /* justify-content: center; */
}

.thumbnail-sketches{
    height: 100%;
}

.text-handle {
    cursor: grab;
    display: block;
    width: 20px;
    height: 20px;
    left: 50px;
    top: 100px;
    z-index: 250;
    background-color: rgba(33, 33, 33, 0.3);
    border: solid 2px rgb(253, 181, 0);
    border-radius: 5px;
    color: white;
    line-height: 20px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* content: "+"; */
    text-align: center;
}



#calque-style-selection{
    padding: 2px;
    margin: 6px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 140px;
    overflow-y: auto;
    
}

.calque-btn {
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    border: rgb(145, 145, 145) solid 2px;
    color: white;
    margin: 0px 4px;
    padding: 5px;
    border-radius: 5px;

    transition: background-color .2s, color .2s;
}

.calque-btn:hover{
    background-color: rgb(48, 70, 70);
    color: rgb(175, 182, 85);
}

.style_tag {
    cursor: pointer;
    font-size: 10px;
    color: white;
    min-width: 150px;
    background-color: rgb(75, 0, 141);
    border: 1px solid rgb(255, 255, 255);
    padding: 4px 6px;
    margin: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}

.calque_tag {
    cursor: pointer;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
}

.calque_tag:hover{
    background-color: rgb(165, 165, 165);
}

.active_calque_tag {
    border:rgb(3, 238, 152) solid 1px;
    background-color: rgb(76, 76, 76);
}

.active-calque-style {
    border: rgb(255, 240, 73) solid 2px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

#images_tag_box{
    display: block;
    position: absolute;
    z-index: 556;
    left: 25px;
    top: 600px;
}

.tagsArea{
    border: solid rgba(255, 255, 255, 0.15) 1px;
    border-radius: 5px;
    padding: 3px 0px;
    min-width: 80px;
    min-height: 8px;
    margin: 4px 0px;
}

.name-tag-area {
    margin: 4px;
    font-size: 18px;
}

.onscreen_canvas{
    display: block;
    top: 18px;
    left: 75vw;
    z-index: 450;
    border: solid rgb(21, 0, 255) 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: left 0.5s;
    opacity: 1;
}

.center_canvas {
    left: calc(50vw - 330px);
}

.cnvImage{
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1;
    height: 110%;
    object-fit: contain;;
}

#placeCanvas{
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 550;
    background-color: rgba(203, 203, 203, 0.419);
    border: rgb(131, 131, 131) solid 2px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 70vw;
    top: 55px;

    transition: background-color .4s, color .4s;
}

#placeCanvas:hover{
    background-color: rgb(111, 111, 111);
    color: white;
}

#imgFilterWrapper{
    display: block;
    z-index: 555;
    top: 550px;
    left: 25px;
    max-width: 300px;
    box-sizing: border-box;
}

#canvasFilters{
    display: block;
    margin-top: 8px;
}

.emptyTag{
    display: block;
    height: 0px;
    padding: 1px;
    background-color: rgba(169, 169, 169, 0.1);
}